@import 'compass/css3';
@import 'compass/css3/filter';
@import '../bourbon/bourbon';

$font_header: 'Roboto', sans-serif;
$font_copy: 'Montserrat', sans-serif;
$color_prim_1: #26a69a;
$color_prim_off: #00887a;
$color_black: #212121;
$color_darkgrey: #424242;
$color_lightgrey: #eeeeee;

$on-palm:          	600px;
$on-laptop:        	800px;
$large-phone:		481px;
$tablet:			768px;
$laptop:			1030px;
$high-res:			1440px;

@mixin media-query($device) {
    @media only screen and (max-width: $device) {
        @content;
    }
}

* {
	border: none; // damn you IE
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
    font-family: $font_copy;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 100%;
	margin: 0;
	padding: 0;
}

ol, ul {
    text-align: left;
}

h1 {
    font-family: $font_header;
	font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0.4em;
	text-align: center;
}

a {
    color: inherit;
    text-decoration: none;
    &.prim {
        color: $color_prim_1;
    }
}

img.profile {
    display: block;
    margin: 2rem auto;
    border: 4px solid $color_prim_1;
    border-radius: 50%;
    width: 8rem;
}

.button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    padding: 0.75rem 2rem;
    margin: 0 0.5rem;
    display: inline-block;
    position: relative;
    outline: none;
    background-color: $color_prim_1;
    color: white;
}

.hamburger {
    position: absolute;
    top: 0; right: 0;
    display: inline-block;
    overflow: visible;
    margin: 0; padding: 15px;
    cursor: pointer;
    transition: opacity,filter 0.15s linear;
    &.is-active {
        .hamburger-inner {
            transform: translate3d(0, 10px, 0) rotate(45deg);
        }
        .hamburger-inner:before {
            transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
            opacity: 0;
        }
        .hamburger-inner:after {
            transform: translate3d(0, -20px, 0) rotate(-90deg);
        }
    }
    .hamburger-box {
        position: relative;
        display: inline-block;
        width: 40px; height: 24px;
        .hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
            position: absolute;
            width: 40px; height: 4px;
            transition: transform .15s ease;
            border-radius: 4px;
            background-color: $color_prim_1;
        }
        .hamburger-inner {
            top: 2px;
            display: block;
            margin-top: -2px;
            &:before {
                display: block;
                content: "";
                top: 10px;
                transition: transform,opacity .15s ease;
            }
            &:after {
                display: block;
                content: "";
                top: 20px; bottom: -10px;
            }
        }
    }
}

.section {
    width: 100%;
    padding: 2rem 0;
    margin: 0;
    background-color: white;
    font-size: 1.125rem;
    &.primcolor {
        background-color: $color_prim_off;
        color: white;
    }
    &.black {
        background-color: $color_darkgrey;
        color: white;
    }
    &.grey {
        background-color: $color_lightgrey;
    }
    &.split {
        position: relative;
        // padding: 0;
        .image {
            position: absolute;
            top: 0; left: 0;
            width: 25%; height: 100%;
            @include media-query($tablet) {
                display: none;
            }
            &.home {
                background-image: url(../img/background-main.jpg);
                background-size: auto 100%;
                background-position: center;
            }
        }
        .container {
            width: 60%;
            margin: 0;
            margin-left: 32.5%;
            @include media-query($tablet) {
                width: 90%;
                margin: 0 auto;
                margin-left: auto;
            }
        }
    }
}

.container {
    max-width: 70%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    p {
        text-align: left;
        margin-block-start: 0; margin-block-end: 0;
        margin: 1.25rem 0;
    }
    &.withcolumns {
        max-width: 100%;
        width: 100%;
        &::after {
            content: ' ';
            display: table;
            clear: both;
        }
        .column4, .column6 {
            float: left;
            i, span, .button, a {
                display: block;
                margin: 2rem auto;
            }
            span.price {
                font-size: 2.5rem;
                font-weight: 700;
            }
            span.disclaimer {
                font-size: 0.875rem;
                font-style: italic;
            }
        }
        .column4 {
            width: 20.333333333333%;
            margin: 0 6.5%;
            @include media-query($tablet) {
                width: 90%;
                margin: 0 5%;
            }
        }
        .column6 {
            width: 40%;
            margin: 5%;
            @include media-query($tablet) {
                width: 90%;
                margin: 0 5%;
            }
        }
    }
}

.section.header {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    padding: 0;
    background-color: $color_black;
    z-index: 10;
    &.homepage {
        display: none;
    }
    .logo {
        display: block;
        height: 3rem; width: 10.75rem;
        margin: 0.25rem auto;
        img {
            height: 3rem; width: 10.75rem;
        }
    }
}

.dropdown {
    position: fixed;
    top: -15.5rem; left: 0;
    width: 100%;
    background-color: darken($color_darkgrey, 10%);
    transition: top .15s linear;
    z-index: 9;
    &.is-active {
        top: 3.5rem;
    }
    a {
        display: block;
        padding: 1rem 0;
        color: white;
        font-size: 1.5rem;
        text-align: center;
        &:hover {
            text-decoration: underline;
        }
    }
}

.section.home {
    // box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    // margin-top: 7rem;
    background-image: url('../img/background-home.jpeg');
    background-size: 100% auto;
    background-position: center;
    @include media-query($tablet) {
        background-size: auto 100%;
    }
    .container {
        position: absolute;
        width: 70%;
        left: 0; right: 0;
        @include media-query($tablet) {
            width: 90%;
        }
        &.top {
            top: 20%;
            @include media-query($tablet) {
                top: 10%;
            }
            img.logo {
                display: block;
                height: 5rem;
                margin: 0 auto;
            }
        }
        &.middle {
            top: 45%;
            color: white;
            @include media-query($tablet) {
                top: 30%;
            }
            h1 {
                font-size: 3rem;
            }
        }
        &.bottom {
            top: 80%;
            color: white;
            span, i {
                display: block;
                padding: 1rem 0;
            }
            span {
                font-size: 1.5rem;
            }
            i {
                color: $color_prim_1;
            }
        }
    }
    .content {
        margin: 0;
        padding: 0;
        width: 90%;
        // font-size: 3.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        transform: translate(-50%, -50%);
        .logo {
            display: block;
            width: 30rem;
            max-width: 67%;
            margin: 0 auto;
        }
        h1 {
            font-size: 5rem;
            text-transform: uppercase;
            margin-bottom: 0;
            @include media-query($tablet) {
                font-size: 3.5rem;
            }
            @include media-query($large-phone) {
                font-size: 2.375rem;
            }
        }
        p {
            text-align: center;
            // font-size: 1.25rem;
            margin: 0;
        }
        form {
            width: 20rem;
            margin: 3rem auto;
            padding-top: 1.5rem;
            @include media-query($large-phone) {
                width: 16rem;
                margin: 1.25rem auto;
            }
            input {
                height: 2.0125rem;
                width: 60%;
                display: inline-block;
                border-top-left-radius: 1rem;
                border-bottom-left-radius: 1rem;
                font-size: 1rem;
                padding: 1rem;
                @include media-query($large-phone) {
                    font-size: 0.875rem;
                }
            }
            button {
                font: 300 1rem $font_copy;
                height: 2rem;
                width: 40%;
                text-align: center;
                border-top-right-radius: 1rem;
                border-bottom-right-radius: 1rem;
                background-color: $color_prim_1;
                color: white;
                cursor: pointer;
                @include media-query($large-phone) {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.section.contact {
    .column6.contact {
        background-color: $color_prim_1;
        padding: 2rem 0;
        input, textarea {
            display: block;
            background-color: transparent;
            width: 80%;
            margin: 1rem auto;
            padding: 0.25rem 0.75rem;
            font-size: inherit;
            font-size: inherit;
            outline: none;
            border-bottom: 2px solid white;
            color: white;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: white;
            opacity: 0.75; /* Firefox */
          }
          
          :-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: white;
          }
          
          ::-ms-input-placeholder { /* Microsoft Edge */
            color: white;
          }
        .button {
            background-color: white;
            color: $color_black;
            i {
                display: inline-block;
                margin: 0; margin-right: 0.5rem;
            }
        }
    }
    .column6.other {
        padding: 1rem 3rem;
        border: 2px solid $color_prim_1;
        .right, .left, .full {
            text-align: left;
            span {
                margin: 1rem 0;
            }
            .label {
                font-weight: bold;
            }
        }
        .right {
            width: 66%;
            float: right;
        }
        .left {
            float: left;
            width: 33%;
        }
        .full {
            width: 100%;
            &:before {
                display: block;
                content: "";
                clear: both;
            }
        }
        a {
            display: inline-block;
            margin: 0;
            color: $color_prim_1;
        }
    }
}

.section.howitworks {
    padding-bottom: 3.5rem;
}

.section.shortcuts {
    .container.withcolumns {
        .column4 {
            .button {
                display: inline-block;
                margin: 0 0.5rem;
            }
        }
    }
}

.section.programs {
    i {
        color: $color_prim_1;
    }
}

.section.questions {
    p {
        text-align: center;
        // width: 60%;
        // margin: 0 auto;
    }
}

.section.faq {
    h2 {
        text-align: left;
        font-weight: 400;
    }
}

.section.backimg {
    padding: 8rem 0;
    background-size: 100% auto;
    background-position: center;
    color: white;
    &#howitworks {
        background-image: url(../img/background-howitworks.jpg);
    }
    &#faq {
        background-image: url(../img/background-faq.jpg);
    }
    &#about {
        background-image: url(../img/background-testimonials.jpg);
    }
    h1 {
        font-weight: 300;
    }
}

.section.footer {
    background-color: $color_black;
    color: white;
    .container.withcolumns {
        width: 33%;
        @include media-query($tablet) {
            width: 90%;
        }
        img {
            width: 50%;
            // @include media-query($tablet) {
            //     width: 100%;
            // }
        }
    }
}

.steps {
    width: 33%;
    margin: 0 auto;
    @include media-query($tablet) {
        width: 67%;
    }
    .step {
        margin: 3rem 0;
        .fas, .instruction {
            display: block;
            margin: 1rem 0;
        }
        i.fas {
            color: $color_prim_1;
        }
        img.fas {
            width: 33%;
            margin: 1rem auto;
        }
    }
}

.testimonial {
    width: 100%;
    &:after {
        display: block;
        content: "";
        clear: both;
    }
    img.profile {
        float: left;
        margin: 2rem 4rem;
    }
    h2 {
        text-align: left;
    }
}